<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lisää retki</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Lisää uusi retki</h1>
	<div>
		<form th:object="${retki}" th:action="@{/tallennaretki}" action="#" method="post">
		  	<label for="Retkinimi">Nimi</label>
			  <input type="text" id="retkinimi" th:field="*{retkinimi}" />
			  <!-- Näytetään virheilmoitus, jos kentässä on virhe -->
			  <div th:if="${#fields.hasErrors('retkinimi')}" th:errors="*{retkinimi}">Error</div>
  
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="kuvaus">Kuvaus</label>
			<input type="text" id="kuvaus" th:field="*{kuvaus}" />
              <div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="kaupunkilista">Kaupunki</label>
			 <select id="kaupunkilista" th:field="*{kaupunki}" class="form-control">
       			<option th:each="kaupunki: ${kaupungit}" th:value="${kaupunki.kaupunkiId}" th:text="${kaupunki.kaupunkinimi}"></option>
    		</select>
			<div style="clear: both; display: block; height: 10px;"></div>

			<label for="retkipaivamaara">Päivämäärä</label>
            <input type="date" id="retkipaivamaara" th:field="*{paivamaara}" class="form-control" />
            <div style="clear: both; display: block; height: 10px;"></div>

			<input type="submit" value="Tallenna"></input>
		</form>
	</div>
</body>
</html>