<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Studentlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

    <style>
        table {
            width: 60%;
        }
        th, td {
            text-align: left; /* Tämä tasaa kaiken tekstin vasemmalle */
        }
    </style>
</head>
<body>

    <table class="table table-striped">
		<tr>
		    <th>Retken nimi</th>
		    <th>Kuvaus</th>
		    <th>Kaupunki</th>
            <th>Päivämäärä</th>
            <th>Osallistujat</th>
		</tr>  
    	<tr th:each = "retki : ${retket}">
    		<td th:text="${retki.retkinimi}"></td>
    		<td th:text="${retki.kuvaus}"></td>
    		<td th:text="${retki.kaupunki.kaupunkinimi}"></td>
            <td th:text="${retki.paivamaara}"></td>

            <td>
                <span th:each="osallistuja, iterStat : ${retki.osallistujat}" 
                      th:text="${osallistuja.etunimi} + (iterStat.hasNext ? ', ' : '')"></span>
            </td>  
            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/osallistujat/{id}(id=${retki.retkiId})}" class="btn btn-danger">Näytä osallistujat</a></td> 
            <td sec:authorize="hasRole('ADMIN')"><td> <a th:href="@{/edit/{id}(id=${retki.retkiId})}" class="btn btn-danger">Muokkaa retkitietoja</a></td> 
            <td sec:authorize="hasRole('ADMIN')"><td> <a th:href="@{/delete/{id}(id=${retki.retkiId})}" class="btn btn-danger">Poista retki</a></td>
            <td> <a th:href="@{/osallistu}" class="btn btn-danger">Osallistu retkelle</a></td>      	       		  		
    	</tr>
     </table>
     <a th:href="@{/lisaa}" class="btn btn-danger">Lisää uusi tapahtuma</a>
</body>
</html>