<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Lisää uusi tapahtuma</h1>
    <form th:action="@{lisaa}" th:object="${tapahtuma}" method="post">
        <table>
            <tr>
                <td>Nimi:</td>
                <td><input type="text" th:field="*{nimi}" /></td>
            </tr>
            <tr>
                <td>Olemassa oleva osallistuja:</td>
                <td>
                    <select th:field="*{osallistujat}" multiple="multiple">
                        <option th:each="osallistuja : ${osallistujat}" 
                                th:value="${osallistuja.id}" 
                                th:text="${osallistuja.osallistujanimi}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Lisää uusi osallistuja:</td>
                <td><input type="text" th:field="*{uusiOsallistuja.osallistujanimi}" /></td>
            </tr>

        </table>
        <p><input type="submit" value="Tallenna" /></p>
    </form>
</body>
</html>
