<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Lisää uusi tapahtuma</h1>
    <form th:action="@{lisaa}" th:object="${tapahtuma}" method="post">
        <table>
            <tr>
                <td>Nimi:</td>
                <td><input type="text" th:field="*{nimi}" /></td>
            </tr>
            <tr>
                <td><label for="kaupunkilista">Kaupunki:</label></td>
                <td>
                    <select id="kaupunkilista" th:field="*{kaupunki}" class="form-control">
                        <option th:each="kaupunki: ${kaupungit}" th:value="${kaupunki.kaupunkiid}" th:text="${kaupunki.kaupunkinimi}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Kuvaus:</td>
                <td><input type="text" th:field="*{kuvaus}" /></td>
            </tr>
            <tr>
                <td>Päivämäärä:</td>
                <td><input type="date" th:field="*{paivamaara}" /></td>
            </tr>
        </table>
        <p><input type="submit" value="Tallenna" /></p>
    </form>
</body>
</html>