<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Muokkaa tapahtumaa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Muokkaa tapahtumaa</h1>
	<div>
		<form th:object="${tapahtuma}" th:action="@{../lisaa}" action="#" method="post">
			<input type="hidden" id="id" th:field="*{id}" />
		  	<label for="nimi">Nimi</label>
			<input type="text" id="fname" th:field="*{nimi}" />			
			<input type="submit" value="Tallenna muutokset"></input>
		</form>
	</div>
</body>
</html>