<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tapahtumalista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Kaikki tulevat tapahtumat</h1>
    <table>
		<tr>
		    <th>Tapahtuma nimi</th>
		    <th>Paikka</th>
			<th>Kuvaus</th>
			<th>Päivämäärä</th>
		</tr>  
    	<tr th:each = "tapahtuma : ${tapahtumat}">
    		<td th:text="${tapahtuma.nimi}"></td>
    		<td th:text="${tapahtuma.kaupunki.kaupunkinimi}"></td>
			<td th:text="${tapahtuma.kuvaus}"></td>	
			<td th:text="${tapahtuma.paivamaara}"></td>	
			<td><a th:href="@{/edit/{id}(id=${tapahtuma.id})}">Muokkaa</a></td>    	
			<td sec:authorize="hasRole('ADMIN')">
			<a th:href="@{/delete/{id}(id=${tapahtuma.id})}">Poista</a></td>   		
    	</tr>
     </table>
	 <a href="/lomake">Lisää uusi tapahtuma</a>
</body>
</html>